@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@keyframes menuAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes arise {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25s;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75s;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(24px);
  }
  75% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

main {
  max-width: 1280px;
  margin: auto;
}

.paddingSection {
  padding: 48px 16px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.3s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loader__item {
  animation: bounce 0.75s;
  animation-iteration-count: 3;
  font-family: "Shrikhand", "cursive";
}
.loader__itemContainer {
  margin: 32px;
  font-size: 35px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .loader__itemContainer {
    font-size: 50px;
  }
}
.loader__item--1 {
  color: #99E2D0;
}
.loader__item--2 {
  color: #FF79DA;
  animation-delay: 0.25s;
}
.loader__item--3 {
  color: #9356DC;
  animation-delay: 0.5s;
}

.header {
  padding: 16px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.5s;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
  justify-content: center;
}

.footer {
  background-color: #353535;
  padding: 16px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  max-width: 1280px;
  margin: auto;
}
.footer__logo {
  color: #fff;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 20px;
  padding-bottom: 16px;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listElement {
  margin: 8px 0;
}
.footer__listElement:first-child {
  margin-top: 0;
}
.footer__listElement:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 18px;
  margin-right: 8px;
}

.localisation {
  padding: 16px;
  background-color: rgba(228, 224, 224, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.localisation__icon {
  margin-right: 16px;
  font-size: 25px;
}
.localisation__text {
  font-weight: 700;
}

.description {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .description {
    background-color: transparent;
  }
}
.description__title {
  padding: 16px;
  text-align: center;
  justify-content: center;
}
.description__subtitle {
  text-align: center;
  justify-content: center;
}
.description__btn {
  padding: 16px;
  margin: 16px;
}

.working__steps {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 32px;
  margin-left: 16px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .working__steps {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .working__steps {
    grid-template-columns: repeat(3, 1fr);
  }
}
.working__step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.5s;
  border-radius: 20px;
  background-color: #f6f6f6;
  padding: 16px;
}
.working__step:hover {
  transform: scale(1.04);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
  transition-duration: 0.75s;
  background-color: rgba(147, 86, 220, 0.15);
}
.working__step:hover > i {
  color: #9356DC;
}
.working__step:hover > span {
  font-weight: bold;
}
.working__step--number {
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  margin-left: -32px;
}
.working__text {
  margin-left: 16px;
}
.working__icon {
  margin-left: 16px;
  font-size: 20px;
  color: #444;
}

.restaurants {
  background-color: #f6f6f6;
}
@media screen and (min-width: 1280px) {
  .restaurants {
    background-color: transparent;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.5s;
  border-radius: 16px;
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
  color: inherit;
}
.card:hover {
  transform: scale(1.04);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
  transition-duration: 0.75s;
}
.card__img {
  height: 190px;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.card__tag {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  top: 16px;
  right: 12px;
}
.card__footer {
  padding: 16px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__btn {
  border: none;
  margin-top: -8px;
}
.card__title {
  margin-bottom: 4px;
}

.header--withArrow {
  position: relative;
  top: 0;
  left: 0;
}
.header__arrow {
  font-size: 25px;
  position: absolute;
  top: 35%;
  left: 25px;
  color: #000000;
}

.bgImg {
  max-width: 100%;
  max-height: 550px;
  width: 100%;
  object-fit: cover;
}

.menu {
  padding: 0;
  margin-bottom: -48px;
  position: relative;
  top: -48px;
  left: 0;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
}
.menu__header {
  padding: 16px;
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  margin-right: 16px;
}

.submenus {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media screen and (min-width: 768px) {
  .submenus {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .submenus {
    grid-template-columns: repeat(3, 1fr);
  }
}

.submenu {
  padding: 16px;
  max-width: 100%;
  overflow: hidden;
}
.submenu__title {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 8px;
}
.submenu__title::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  top: 25px;
  left: 0;
}

.menuItem {
  display: flex;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.5s;
  background-color: #fff;
  padding: 16px;
  border-radius: 12px;
  margin: 16px 0;
  overflow: hidden;
  cursor: pointer;
  animation: menuAppear 1.75s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  max-width: 100%;
}
.menuItem:hover {
  transform: scale(1.04);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
  transition-duration: 0.75s;
  animation-fill-mode: none;
}
.menuItem__header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
.menuItem__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding-bottom: 4px;
}
.menuItem__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding-top: 4px;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 8px;
}
.menuItem__confirmation {
  background-color: #99E2D0;
  margin: -16px -80px -16px 16px;
  width: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -16px;
  transition-duration: 0.6s;
}
.menuItem__wrapIcon {
  height: 26px;
  width: 26px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transform: rotate(-180deg);
  transition-duration: 0.75s;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__icon {
  color: #99E2D0;
}

.delay-1 {
  animation-delay: 200ms;
}

.delay-2 {
  animation-delay: 400ms;
}

.delay-3 {
  animation-delay: 600ms;
}

.delay-4 {
  animation-delay: 800ms;
}

.delay-5 {
  animation-delay: 1000ms;
}

.delay-6 {
  animation-delay: 1200ms;
}

.delay-7 {
  animation-delay: 1400ms;
}

.delay-8 {
  animation-delay: 1600ms;
}

.delay-9 {
  animation-delay: 1800ms;
}

.delay-10 {
  animation-delay: 2000ms;
}

.wrapBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 48px;
  padding-bottom: 64px;
}

.commandBtn {
  padding: 16px 80px;
  cursor: pointer;
}

button {
  border: 0;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.5s;
}
button:hover {
  background-color: #fff;
  transform: scale(1.04);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
  transition-duration: 0.75s;
}

.heartIcon {
  font-size: 25px;
  cursor: pointer;
}
.heartIcon:hover {
  animation: arise 0.6s ease-in-out;
  opacity: 1;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  -webkit-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  transform: scale(1.05);
}

/*# sourceMappingURL=main.css.map */
