button {
  border: 0;
  @include font-weight(500);
  @include font-size(18px);
  @include border($borderButton, $shadow, $transition);
  color: $white;
  @include buttonPrimary;
  cursor: pointer;
  

  &:hover {
    background-color: $white;
    @include box-shadow-hover;
  }


}