button {
  border: 0;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  color: $white;
  background-color: $bgButton;
  background-image: $bgLinear;
  cursor: pointer;
  @include box-shadow;

  &:hover {
    transition: box-shadow 400ms;
    background-color: $white;
    @include box-shadow-hover;
  }


}