button {
  border: 0;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, color.scale($colorPrimary, $alpha: -10%) 0%, color.scale($colorSecondary, $alpha: -10%) 100%);
  cursor: pointer;
  transition-duration: 0.5s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    transform: scale(1.04);
  }

  a {
    text-decoration: none;
    color: white;
  }
}