// Flexbox

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


// Grid system

@mixin grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }
    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    } 
}

// Alignement , positon.....

@mixin position ($pos, $top, $left){
  position: $pos;
  top: $top;
  left: $left; 
}

@mixin position-right ($pos, $top, $right) {
  position: $pos;
  top: $top;
  right: $right; 
}

@mixin text-center {
  text-align: center;
  justify-content: center;
}

// Fonts

@mixin font-family($font) {
  font-family: $font ;
}
@mixin font-size($size: 25px) {
  font-size: $size;
}

@mixin font-weight($weight: bold) {
  font-weight: $weight;
}

// Largeurs,  longueurs

@mixin block($width, $height) {
  width: $width;
  height: $height;
}

// Borders
@mixin border-radius-button($value: map-get($radius, borderButton)) {
  border-radius: $value;
}

@mixin border-radius-step($value: map-get($radius, borderStep)) {
  border-radius: $value;
}

@mixin border-radius-number($value: map-get($radius, borderNumber)) {
  border-radius: $value;
}

@mixin border-radius-card($value: map-get($radius, borderCard)) {
  border-radius: $value;
}

@mixin border-radius-img($value: map-get($radius, borderImg)) {
  border-radius: $value;
}

@mixin border-radius-tag($value: map-get($radius, borderTag)) {
  border-radius: $value;
}

@mixin border-radius-menu($value: map-get($radius, borderMenu)) {
  border-radius: $value;
}

@mixin border-radius-menuItem($value: map-get($radius, borderMenuItem)) {
  border-radius: $value;
}

@mixin border-radius-WrapIcon($value: map-get($radius, borderWrapIcon)) {
  border-radius: $value;
}


// Shadow
@mixin box-shadow {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  transition-duration: .5s;
}

@mixin box-shadow-hover {
  transform: scale(1.04);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
  transition-duration: .75s;
}

// Background
 @mixin background($color) {
   background-color: $color;
 }

 @mixin bg-button {
  background-color: $bgButton;
  background-image: $bgLinear;
}

//
@mixin back-gradient-clip {
  -webkit-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  color: $transp;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Media Queries

@mixin tablet {
    @media screen and (min-width:map-get($breakpoints, tablet)){
      @content;
    }
  }
  @mixin desktop {
    @media screen and (min-width:map-get($breakpoints, desktop)){
      @content;
    }
  }
  @mixin large {
    @media screen and (min-width:map-get($breakpoints, large)){
      @content;
    }
  }
  
  @mixin medium {
    @media screen and (min-width: map-get($breakpoints, medium)) {
      @content;
    }
  }