// Flexbox

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


// Grid system

@mixin grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }
    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    } 
}

// Alignement , positon.....

@mixin position ($pos, $top, $left){
  position: $pos;
  top: $top;
  left: $left; 
}

@mixin position-right ($pos, $top, $right) {
  position: $pos;
  top: $top;
  right: $right; 
}

@mixin text-center {
  text-align: center;
  justify-content: center;
}

// Fonts, decoration texte, ajustement....

@mixin font-family($font) {
  font-family: $font ;
}
@mixin font-size($size: 25px) {
  font-size: $size;
}

@mixin font-weight($weight: bold) {
  font-weight: $weight;
}

@mixin back-gradient-clip {
  -webkit-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  color: $transp;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


// Largeurs,  longueurs
@mixin block($width, $height) {
  width: $width;
  height: $height;
}

// Borders-radius, box-shadow, transition....
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;
  transform: $property;
}

@mixin border-radius-shadow($radius, $x, $y, $blur, $color, $transition) {
  @if $radius == 0 and $x == $x and $y == $y and $blur == $blur and $color == $color and $transition == 0{
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    -ms-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
    
  } @else if $radius == $borderButton and $x == $x and $y == $y and $blur == $blur and $color == $color and $transition == $transition {
      border-radius: $borderButton;
      -webkit-box-shadow: $x $y $blur $color;
      -moz-box-shadow: $x $y $blur $color;
      -ms-box-shadow: $x $y $blur $color;
      box-shadow: $x $y $blur $color;
      transition-duration: $transition;
  } @else if $radius ==  $borderStep and $x == $x and $y == $y and $blur == $blur and $color == $color and $transition == $transition {
      border-radius: $borderStep;
      -webkit-box-shadow: $x $y $blur $color;
      -moz-box-shadow: $x $y $blur $color;
      -ms-box-shadow: $x $y $blur $color;
      box-shadow: $x $y $blur $color;
      transition-duration: $transition;
  } @else if $radius ==  $borderNumber and $x == 0 and $y == 0 and $blur == 0 and $color == 0 and $transition == 0 {
      border-radius: $borderNumber;
  } @else if $radius ==  $borderCard and and $x == $x and $y == $y and $blur == $blur and $color == $color and $transition == $transition{
      border-radius: $borderCard;
      -webkit-box-shadow: $x $y $blur $color;
      -moz-box-shadow: $x $y $blur $color;
      -ms-box-shadow: $x $y $blur $color;
      box-shadow: $x $y $blur $color;
      transition-duration: $transition;
  } @else if $radius ==  $borderImg and $x == 0 and $y == 0 and $blur == 0 and $color == 0 and $transition == 0{
      border-radius: $borderImg;
  } @else if $radius ==  $borderTag and $x == 0 and $y == 0 and $blur == 0 and $color == 0 and $transition == 0{
      border-radius: $borderTag;
  } @else if $radius ==  $borderMenu  and $x == 0 and $y == 0 and $blur == 0 and $color == 0 and $transition == 0{
      border-radius: $borderMenu;
  } @else if $radius ==  $borderMenuItem and $x == $x and $y == $y and $blur == $blur and $color == $color and $transition == $transition{
      border-radius: $borderMenuItem;
      -webkit-box-shadow: $x $y $blur $color;
      -moz-box-shadow: $x $y $blur $color;
      -ms-box-shadow: $x $y $blur $color;
      box-shadow: $x $y $blur $color;
      transition-duration: $transition;
  } @else if $radius ==  $borderWrapIcon  and $x == 0 and $y == 0 and $blur == 0 and $color == 0 and $transition == 0{
      border-radius: $borderWrapIcon;
  }
}

@mixin box-shadow-hover($x, $y, $blur, $color-hover) {
  -webkit-box-shadow: $x $y $blur $color-hover;
  -moz-box-shadow: $x $y $blur $color-hover;
  -ms-box-shadow: $x $y $blur $color-hover;
  box-shadow: $x $y $blur $color-hover;
  @include transform(scale(1.04));
  transition-duration: .75s;
}



// Background
 @mixin background($colorBg) {
   background-color: $colorBg;
 }

 @mixin buttonPrimary {
  background-color: $bgButton;
  background-image: $bgLinear;
}


// Animations
@mixin animation($anim, $dur) {
  @if $anim == loader and $dur == .3s {
    animation: $anim $dur;
    animation-delay: 2s;
    animation-fill-mode: both;
  } @else if $anim == bounce and $dur == .75s{
    animation: $anim $dur;
    animation-iteration-count: 3;
  } @else if $anim == arise and $dur == .6s {
    animation: $anim $dur;
    opacity: 1;
    @include transform(scale(1.1));
  } @else if $anim == menuAppear and $dur == 1.75s {
    animation: $anim $dur;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    overflow: hidden;
    cursor: pointer;
  }
}

// Media Queries

@mixin tablet {
    @media screen and (min-width:map-get($breakpoints, tablet)){
      @content;
    }
  }
  @mixin desktop {
    @media screen and (min-width:map-get($breakpoints, desktop)){
      @content;
    }
  }
  @mixin large {
    @media screen and (min-width:map-get($breakpoints, large)){
      @content;
    }
  }
  
  @mixin medium {
    @media screen and (min-width: map-get($breakpoints, medium)) {
      @content;
    }
  }


