// Colors
$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$bgLinear: linear-gradient(0deg, color.scale($colorPrimary, $alpha: -10%) 0%, color.scale($colorSecondary, $alpha: -10%) 100%);
$bgColor: #f6f6f6;
$bgButton: rgb(104, 104, 104);
$bgLoader: rgba(255, 255, 255, 0.90);
$bgLocal: rgba(228, 224, 224, 0.5); 
$white: #fff;
$black: #000000;
$transp: transparent;


// Marges et Tailles
$margin: 16px;
$padding: 16px;
$widthContainer: 1280px;

// Fonts
$fontTitle: "Shrikhand", "cursive";
$fontText: 'Roboto', sans-serif;

// Borders
$radius:(
    borderButton: 100px,
    borderStep: 20px,
    borderNumber: 50%,
    borderCard: 16px,
    borderImg: 16px 16px 0 0,
    borderTag: 5px,
    borderMenu: 32px 32px 0 0,
    borderMenuItem: 12px,
    borderWrapIcon: 100px,

);
// Animations
$num-load: 10;
$anim-dur: 2000ms;
$anim-delay: math.div($anim-dur, $num-load);

