// Colors
$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;

$bgLinear: linear-gradient(0deg, color.scale($colorPrimary, $alpha: -10%) 0%, color.scale($colorSecondary, $alpha: -10%) 100%);
$bgButton: rgb(104, 104, 104);

$bgColor: #f6f6f6;
$bgLoader: rgba(255, 255, 255, 0.90);
$bgLocal: rgba(228, 224, 224, 0.5); 
$bgFooter: #353535;
$white: #fff;
$black: #000000;
$transp: transparent;


// Marges et Tailles
$margin: 16px;
$padding: 16px;
$widthContainer: 1280px;

// Fonts
$fontTitle: "Shrikhand", "cursive";
$fontText: 'Roboto', sans-serif;

// Borders
$border: 100px, 20px, 50%, 16px , 16px 16px 0 0, 5px, 32px 32px 0 0, 12px;

$x: 4px;
$y: 4px;
$blur: 10px;
$color: rgba(0, 0, 0, 0.25);
$color-hover: rgba(0, 0, 0, 0.75);
$transition: .5s;

// Animations
$num-load: 10;
$anim-dur: 2000ms;
$anim-delay: math.div($anim-dur, $num-load);

