.footer {
  background-color: #353535;
  padding: $padding;

  &__container {
    display: flex;
    flex-direction: column;
    padding: $padding;
    max-width: 1280px;
    margin: auto;
  }
  
  &__logo {
    color: white;
    font-family: $fontTitle;
    margin: 0;
    font-size: 20px;
    padding-bottom: $padding;
    
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__listElement {
    margin: (math.div($margin, 2)) 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 18px;
    margin-right: math.div($margin, 2);
  }
}
