.footer {
  @include background($bgFooter);
  @include margin-padding(auto, auto, auto, auto, $padding, 0, $padding, 0);
  
  &__container {
    @include flex(column, flex-start, flex-start);
    @include margin-padding(auto, auto, auto, auto, $padding, $padding, $padding, $padding);
    @include block($widthContainer, auto);
  }
  
  &__logo {
    color: $white;
    @include font-family($fontTitle);
    @include font-size(20px);
    @include margin-padding(0, 0, $margin, 0, auto, auto, auto, auto);
  }

  &__list {
    list-style: none;
    @include margin-padding(0, 0, 0, 0, 0, 0, 0, 0);
  }

  &__listElement {
    
    @include margin-padding((math.div($margin, 2)), 0, (math.div($margin, 2)), 0, auto, auto, auto, auto);
    &:first-child {
      @include margin-padding(0, auto, auto, auto, auto, auto, auto, auto);
    }

    &:last-child {
      @include margin-padding(auto, auto, 0, auto, auto, auto, auto, auto);
    }
  }

  &__link {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    @include block(18px, auto);
    @include margin-padding(auto, math.div($margin, 2), auto, auto, auto, auto, auto, auto);
  }
}
