.header {
    padding: $padding ;
    @include border-radius-shadow(0, $x, $y, $blur, $color, 0);
    @include position(relative, 0, 0);
    z-index: 1;
    
    &__logo {
      @include font-family($fontTitle);
      margin: 0;
      @include text-center;
    }
}