.header {
    padding: $padding ;
    @include border(0, $shadow, $transition);
    @include position(relative, 0, 0);
    z-index: 1;
    
    &__logo {
      @include font-family($fontTitle);
      margin: 0;
      @include text-center;
    }
}