.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.90);
  animation: loader 0.3s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 2;
  display:flex;
  align-items:center;
  justify-content:center;
  
  &__item {
    animation: bounce .75s;
    animation-iteration-count: 3;
    font-family: $fontTitle;

    &Container {
      margin: $margin *2;
      font-size: 35px;  
      display: flex;
      width: 400px;
      justify-content: space-between;
      @include tablet {
        font-size: 50px;
      }
    }

    &--1 {
      color: $colorTertiary;
    }

    &--2 {
      color: $colorSecondary;
      animation-delay: 0.25s;
    }

    &--3 {
      color: $colorPrimary;
      animation-delay: 0.5s;
    }
  }
}