.loader {
  @include position(fixed, 0, 0);
  @include block(100%, 100%);
  @include background ($bgLoader);
  @include animation (loader, .15s);
  @include flex(row, center, center);
  z-index: 2;
  
  &__item {
    @include animation(bounce, .6s);
    @include font-family($fontTitle);

    &Container {
      @include margin-padding($margin *2, $margin *2, $margin *2, $margin *2, auto, auto, auto, auto);
      @include font-size(35px); 
      @include block (400px, auto);
      @include flex(row, space-between, center);
      @include tablet {
        @include font-size(50px);
      }
    }

    &--1 {
      @include color($colorTertiary);
    }

    &--2 {
      @include color($colorSecondary);
      animation-delay: 0.25s;
    }

    &--3 {
      @include color($colorPrimary);
      animation-delay: 0.5s;
    }
  }
}