* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
body, html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

main {
    max-width: $widthContainer;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }
    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    } 
}

.paddingSection {
    padding: ($padding * 3) $padding;
}