* {
    @include margin-padding(0, 0, 0, 0, 0, 0, 0, 0);
    box-sizing: border-box;
}
  
body, html {
    @include font-family($fontText);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

main {
    @include block($widthContainer, auto);
    @include margin-padding(auto, auto, auto, auto, 0, 0, 0, 0);
}

.paddingSection {
    @include margin-padding(auto, auto, auto, auto, ($padding * 3), $padding, ($padding * 3), $padding);
}