* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
body, html {
    font-family: $fontText;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

main {
    max-width: $widthContainer;
    margin: auto;
}

.paddingSection {
    padding: ($padding * 3) $padding;
}