.localisation {
    @include margin-padding(0, 0, 0, 0, $padding, $padding, $padding, $padding);
    @include background($bgLocal);
    @include flex(row, center, center);

    &__icon {
        @include margin-padding(0, $margin, 0, 0, 0, 0, 0 ,0);
        @include font-size;
    }

    &__text {
        @include font-weight(700);
    }
}

.description { 
    @include background($bgColor);
    @include flex(column, center, center);
    @include desktop {
        @include background($transp);
    }

    &__title {
        @include margin-padding(0, 0, 0, 0, $padding, $padding, $padding, $padding);
        @include text-center;
    }

    &__subtitle {
        @include text-center;
    }

    &__btn {
        @include margin-padding($margin, $margin, $margin, $margin, $padding, $padding, $padding, $padding);
    }
}

.working {
    &__steps {
        @include grid(1, 2rem, 2rem, 2, 3);
        @include margin-padding(($margin * 2), 0, ($margin * 2), 0, 0, 0, 0, $padding);
        cursor: pointer;
    }

    &__step {
        @include flex(row, flex-start, center);
        @include border-radius-shadow(nth($border, 2), $x, $y, $blur, $color, $transition);
        @include background($bgColor);
        @include margin-padding(0, 0, 0, 0, $padding, $padding, $padding, $padding);

        &:hover{
            @include box-shadow-hover($x, $y, $blur, $color-hover, $transition-hover);
            @include background( rgba(147, 86, 220, 0.2));
        }

        &:hover > i {
            @include color($colorPrimary);
        }
        &:hover > span {
            @include text-hover;
        }
        
        &--number{
            @include background($colorPrimary);
            @include color($white);
            @include border-radius-shadow(nth($border, 3), 0, 0, 0, 0, 0);
            @include margin-padding(0, 0, 0, -($margin * 2), math.div($padding, 4), math.div($padding, 2), math.div($padding, 4), math.div($padding, 2));
        }    
    }

    &__text {
        @include margin-padding(0, 0, 0, $margin, 0, 0, 0, 0);
    }    

    &__icon {
        @include margin-padding(0, 0, 0, $margin, 0, 0, 0, 0);
        @include font-size(20px);
        @include color($bgButton);
    } 
}

.restaurants {
    @include background($bgColor);
    @include desktop {
        @include background($transp); 
    }
}

.cards {
    @include grid(1, 2rem, 2rem, 2, 3);
    @include margin-padding(0, 0, 0, 0, $padding * 2, 0, $padding * 2, 0);
}

.card {
   
    @include border-radius-shadow(nth($border, 4), $x, $y, $blur, $color, $transition);
    @include position(relative, 0, 0);
    @include color(unset);
  
    &:hover {  
        @include box-shadow-hover($x, $y, $blur, $color-hover, $transition-hover);
    }

    &__img {
        @include block(100%, 195px);
        border: none;
        @include border-radius-shadow(nth($border, 5), 0, 0, 0, 0, 0);
        object-fit: cover;
    }

    &__tag {
        @include background($colorTertiary);
        @include color (darken($colorTertiary, 50%));
        @include margin-padding(0, 0, 0, 0, math.div($padding, 2), math.div($padding, 2), math.div($padding, 2), math.div($padding, 2));
        @include border-radius-shadow(nth($border, 6), 0, 0, 0, 0, 0);
        @include position-right(absolute, 16px, 12px);
    }

    &__footer {
        @include margin-padding(0, 0, 0, 0, $padding, $padding, $padding, $padding);
        @include position(relative, 0, 0);
        @include flex(row, flex-start, center);
    }

    &__content {
        flex: 1;
    }

    &__btn {
        border: none;
        @include margin-padding((math.div($margin, 2)), 0, 0, 0, 0, 0, 0, 0);   
    }

    &__title {
        @include margin-padding(0, 0, math.div($margin, 2), 0, 0, 0, 0, 0);
    }

}