.header {
    &--withArrow {
      @include position(relative, 0, 0);
    }
  
    &__arrow {
        @include font-size;
        @include position(absolute, 35%, 25px); 
        color: $black;
    }
}
  
.bgImg {
    @include block(100%, 550px);
    object-fit: cover;
}
  
.menu {
    @include margin-padding(auto, auto, -$margin * 3, auto, 0, 0, 0, 0);
    @include border-radius-shadow(nth($border, 7), 0, 0, 0, 0, 0);
    @include background($bgColor);
    @include position(relative, -48px, 0);
    z-index: 1;
    
    
  
    &__header {
        @include margin-padding(0, 0, 0, 0, $padding * 2, $padding, $padding, $padding);
        @include flex(row, space-between, center);
    }
  
    &__title {
        @include font-family($fontTitle);
    }

    &__btn {  
        @include margin-padding(0, $margin, 0, 0, 0, 0, 0, 0);
    }
}
  
.submenus {
    @include grid(1, 1rem, 0, 2, 3);
}
  
.submenu {
    @include margin-padding(0, 0, 0, 0, $padding, $padding, $padding, $padding);
    @include block (100%, auto);
    overflow: hidden;
 
  
    &__title {
      text-transform: uppercase;
      @include font-weight;
      @include position(relative, 0, 0);
      @include margin-padding(0, 0, 0, 0, 0, 0, math.div($padding, 2), 0);
  
        &::after {
            content: "";
            @include block (48px, 4px);
            @include background($colorTertiary);
            @include position(absolute, 25px, 0);
        }
    }
}
  
.menuItem {
    @include block(100%, auto);
    @include margin-padding($margin, 0, $margin, 0, $padding, $padding, $padding, $padding);
    @include border-radius-shadow(nth($border, 8), $x, $y, $blur, $color, $transition);
    @include background($white);
    @include flex(row, space-between, unset);
    @include animation(menuAppear, 1.75s);
    
    &:hover {
        @include box-shadow-hover($x, $y, $blur, $color-hover, $transition-hover);
        animation-fill-mode: none;
    }

    &__header {
        @include ellipsis;
        flex: 1;
    }
  
    &__title {
        @include ellipsis;
        @include margin-padding(0, 0, 0, 0, 0, 0, math.div($padding, 4), 0);
    }
  
    &__description {
        @include ellipsis;
        @include margin-padding(0, 0, 0, 0, math.div($padding, 4), 0, 0, 0);
    }
  
    &__price {
        @include font-weight;
        @include flex(row, flex-end, flex-end);
        @include margin-padding(0, 0, 0, 0, 0, math.div($padding, 2), 0, 0);
    }
  
    &__confirmation {
        @include background($colorTertiary);
        @include margin-padding(-$margin, -$margin * 5, -$margin, $margin, 0, 0, 0, 0);
        @include block(64px, auto);
        @include flex(row, center, center);
        transition-duration: .5s;
    }
  
    &:hover &__confirmation {
        @include margin-padding (0, -$margin, 0, 0, 0, 0, 0, 0);
        transition-duration: .6s;
    }
  
    &__wrapIcon {
        @include block(26px, 26px);
        @include background($white);
        @include flex(row, center, center);
        @include border-radius-shadow(nth($border, 1), 0, 0, 0, 0, 0);
        @include transform(rotate(-180deg));
        transition-duration: .75s;
    }
  
    &:hover &__wrapIcon {
        @include transform(rotate(0));
    }
  
    &__icon {
        color: $colorTertiary;
    }
}

@for $i from 1 through $numLoad {
    .delay-#{$i} {
        animation-delay: $animDelay * $i;
    }
}

.wrapBtn {
    @include flex(row, center, center);
    @include margin-padding(0, 0, 0, 0, $padding * 3, $padding * 3, $padding * 4, $padding * 3);
}
  
.commandBtn {
    @include margin-padding(0, 0, 0, 0, $padding, $padding * 5, $padding, $padding * 5);
    cursor: pointer;
}
