.header {
    &--withArrow {
      @include position(relative, 0, 0);
    }
  
    &__arrow {
        @include font-size;
        @include position(absolute, 35%, 25px); 
        color: $black;
    }
}
  
.bgImg {
    max-width: 100%;
    max-height: 550px;
    @include block(100%, auto);
    object-fit: cover;
}
  
.menu {
    padding: 0;
    margin-bottom: -$margin * 3;
    @include position(relative, -48px, 0);
    @include border-radius-shadow(nth($border, 7), 0, 0, 0, 0, 0);
    @include background($bgColor);
    z-index: 1;
    
    
  
    &__header {
        padding: $padding;
        padding-top: $padding * 2;
        @include flex(row, space-between, center);
    }
  
    &__title {
        @include font-family($fontTitle);
    }

    &__btn {
        margin-right: $margin;
    }
}
  
.submenus {
    @include grid;
}
  
.submenu {
    padding: $padding;
    max-width: 100%;
    overflow: hidden;
 
  
    &__title {
      text-transform: uppercase;
      @include font-weight;
      @include position(relative, 0, 0);
      padding-bottom: (math.div($padding, 2));
  
        &::after {
            content: "";
            @include block (48px, 4px);
            @include background($colorTertiary);
            @include position(absolute, 25px, 0);
        }
    }
}
  
.menuItem {
    display: flex;
    
    @include background($white);
    padding: $padding;
    @include border-radius-shadow(nth($border, 8), $x, $y, $blur, $color, $transition);
    margin: $margin 0;

    @include animation(menuAppear, 1.75s);

    max-width: 100%;

    &:hover {
        @include box-shadow-hover($x, $y, $blur, $color-hover, $transition-hover);
        animation-fill-mode: none;
    }

    &__header {
        @include ellipsis;
        flex: 1;
    }
  
    &__title {
        @include ellipsis;
        margin: 0;
        padding-bottom: math.div($padding, 4);
    }
  
    &__description {
        @include ellipsis;
        margin: 0;
        padding-top: math.div($padding, 4);
    }
  
    &__price {
        @include font-weight;
        @include flex(row, flex-end, flex-end);
        padding-left: math.div($padding, 2);
    }
  
    &__confirmation {
        @include background($colorTertiary);
        margin: (-$margin) (-$margin * 5) (-$margin) ($margin);
        @include block(64px, auto);
        @include flex(row, center, center);
        transition-duration: .5s;
    }
  
    &:hover &__confirmation {
        margin-right: -$margin;
        transition-duration: .6s;
    }
  
    &__wrapIcon {
        @include block(26px, 26px);
        @include background($white);
        @include flex(row, center, center);
        @include border-radius-shadow(nth($border, 1), 0, 0, 0, 0, 0);
        @include transform(rotate(-180deg));
        transition-duration: .75s;
    }
  
    &:hover &__wrapIcon {
        @include transform(rotate(0));
    }
  
    &__icon {
        color: $colorTertiary;
    }
}

@for $i from 1 through $num-load {
    .delay-#{$i} {
        animation-delay: $anim-delay * $i;
    }
}

.wrapBtn {
    @include flex(row, center, center);
    padding: $padding * 3;
    padding-bottom: ($padding * 4);
}
  
.commandBtn {
    padding: $padding $padding * 5;
    cursor: pointer;
}
