.header {
    &--withArrow {
      @include position(relative, 0, 0);
    }
  
    &__arrow {
        @include font-size;
        @include position(absolute, 35%, 25px); 
        @include color($black);
    }
}
  
.bgImg {
    @include block(100%, 320px);
    object-fit: cover;
    @include tablet {
        @include block(100%, 520px);
    }
}
  
.menu {
    @include margin-padding(0, auto, -$margin * 3, auto, 0, 0, 0, 0);
    @include border-radius-shadow(nth($border, 7), 0, 0, 0, 0, 0);
    @include background($bgColor);
    @include position(relative, -48px, 0);
    z-index: 1;
    
    &__header {
        @include margin-padding(0, 0, 0, 0, $padding * 2, $padding, $padding, $padding);
        @include flex(row, space-between, center);
    }
  
    &__title {
        @include font-family($fontTitle);
    }

    &__btn {  
        @include margin-padding(0, $margin, 0, 0, 0, 0, 0, 0);
    }
}
 
.submenus {
    @include grid(1, 1rem, 0, 2, 3);
}

  
.wrapBtn {
    @include flex(row, center, center);
    @include margin-padding(0, 0, 0, 0, $padding * 3, $padding * 3, $padding * 4, $padding * 3);
}
  
.commandBtn {
    @include margin-padding(0, 0, 0, 0, $padding, $padding * 5, $padding, $padding * 5);
    cursor: pointer;
}
